html {
    font-size: 14px;
}

div {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
/*Navbar styling*/


.navheader {
    margin-top: -90px;
    /*position: fixed;*/
    
    background-image: linear-gradient(#50aa4f, #ecf6ec);
    border-bottom: 10px;
    border-color: black;

    
    /* background-image: radial-gradient(#a1ad79, #ffd800)*/
}


.navcontainer {
    /*background-image: linear-gradient(#58b457, #b4ceb9);*/
    /*padding: 15px;
    padding-left: 850px;*/
    /*padding-right: 1137px;*/

}

/*===============*/
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 90px;
    background-color: #FFF;
}

thead {
    background-color: #FFF;
    border: 10px;
}

form {

    display: container;
    border: 20px;
    padding: 20px;
    border-color: black;
}

.createfield {
    border-style: solid;
    border: 20px;
    border-color: black;

    margin-bottom: 70px;
}


#fix{
    margin-top: 0px;
    text-align:center;
    vertical-align:central;
}

#ResourceTable {
    margin-bottom: 80px;
    position: relative;
    padding: inherit;
}

.footborder{
    height: 100%;
    width: 100%;
}

.footcontainer {
    background-image: linear-gradient(#ecf6ec, #50aa4f);
    padding: 15px;
    
    position: sticky;
    width: 100%;
    margin-bottom: -20px ;
    /*padding-left: 460px;
    padding-right: 1137px;*/
}

/*Map area css*/

#map {
    
    height: 400px;
    margin-bottom: 100px;
}

.map-container {
    width: 50%;
    flex: 1;
}



/*Clock area */

text-centre #map {
    display: block;
    position: center;
    font-size: 30px;
}

thead {
    background-color: #FFF;
    border: 10px;
    text-align: center;
}


#clock {
    position: sticky;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-right: 10px;
    /*Text padding and margin for clock*/
}

#uid{
    vertical-align: top;
    text-align:left;
    color: #5e585823;
    
}

#Creators li{
    display: inline-table;
}



/* Overview container adjustments */
.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.map-container, .analytics-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    height: auto; /* Flexible height based on content */
}

/* Styling for analytics containers */
.analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.completed-tasks-container {
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px 0;
    box-shadow: 10px 10px #34333381;
    text-align: center;
    width: calc(50% - 20px); /* Adjusts width taking margin into account */
    box-sizing: border-box;
    background-image: linear-gradient(#80acc7, #44ac5c);
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-end;
}

.counter-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.counter {
    font-size: 24px;
    font-weight: bold;
    
}

/* Ensuring responsiveness */
@media (max-width: 768px) {
    .overview-container {
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}