html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
/*Navbar styling*/


.navheader {
    background-image: linear-gradient(#50aa4f, #ecf6ec);
    border-bottom: 10px;
    border-color: black;
    /* background-image: radial-gradient(#a1ad79, #ffd800)*/
}


.navcontainer {
    /*background-image: linear-gradient(#58b457, #b4ceb9);*/
    /*padding: 15px;
    padding-left: 850px;*/
    /*padding-right: 1137px;*/
}

/*===============*/
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FFF;
}

thead {
    background-color: #FFF;
    border: 10px;
}

form {
    display: container;
    border: 20px;
    padding: 20px;
    border-color: black;
}

.createfield {
    border-style: solid;
    border: 20px;
    border-color: black;
}

header * {
}

footborder {
    /*background-image: linear-gradient(to left, #a1ad79, #89bb09);*/
}

.footcontainer {
    background-image: linear-gradient(#ecf6ec, #50aa4f);
    padding: 10px;
    /*padding-left: 460px;
    padding-right: 1137px;*/
}

/*Map area css*/

#map {
    height: 400px;
}


/*Clock area */

text-centre #map {
    display: block;
    position: center;
    font-size: 30px;
}



#clock {
    position: sticky;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-right: 10px;
    /*Text padding and margin for clock*/
}




