@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div id="Creators">
    <h1>Creators of Farm Management Ltd</h1>
    <ul>
        <li>-Nathan Howell- </li>
        <li>-Ellis Wright- </li>
        <li>-Kieran Burnett- </li>
        <li>-Jermaine Okere- </li>
        <li>-Harry Andrade- </li>
        <li>-Celia Aspin- </li>
    </ul>
</div>
